<body>
    <div class="container col-md-10 offset-1">
        <div class="mt-4">
            <h3 class="ty-heading">Company Details</h3>
            <table class="table table-hover table-bordered">
                <thead class="text-white ty-header">
                    <tr>
                        <td>SPOC Name</td>
                        <td>COntact Number</td>
                        <td>Email</td>
                        </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let companyDetails of CompanyDetails?._id" (click)='particularRow(companyDetails)'
                        data-toggle="modal" data-target=".bd-example-modal-xl">
                        <td>{{companyDetails.clientName}}</td>
                        <td>{{companyDetails.phoneNumber}}</td>
                        <td>{{companyDetails.email}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
                aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document ">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <label for="title " class="ty-font "
                                style="font-size:25px;font-weight: bold;margin-top: 15px; ">Update Company
                                Details</label>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <button type="button" (click)="addSpoc()" data-dismiss="modal">Add SPOC Details</button>
                            <form action=" " method="post" #form="ngForm">
                                <input type="hidden" name="_id" #_id='ngModel' [(ngModel)]="companyDetails._id" ngModel>
                                <div class="form-row mt-3 ">
                                    <div class="form-group col-md-6 ty-font user-input-wrp "> <br />
                                        <input type="text " class="form-control inputText " id="cfullname "
                                            name="cfullname" #cfullname="ngModel" [(ngModel)]="companyDetails.cfullname "
                                            ngModel>
                                        <span class="floating-label ">Company Name</span>
                                    </div>
                                </div>
                                <div class="form-row mt-3 ">
                                    <div class="form-group col-md-6 ty-font user-input-wrp "> <br />
                                        <input type="text " class="form-control inputText " id="gstin "
                                            name="gstin" #gstin="ngModel" [(ngModel)]="companyDetails.gstin "
                                            ngModel>
                                        <span class="floating-label ">GSTIN</span>
                                    </div>
                                </div>
                                <div class="form-row mt-3 ">
                                    <div class="form-group col-md-6 ty-font user-input-wrp "> <br />
                                        <input type="text" class="form-control inputText" id="pan"
                                            name="pan" #pan="ngModel" [(ngModel)]="companyDetails.pan"
                                            ngModel>
                                        <span class="floating-label">PAN</span>
                                    </div>
                                    <div class="form-group col-md-6 ty-font user-input-wrp "> <br />
                                        <input type="text" class="form-control inputText" id="CIN"
                                            name="CIN" #CIN="ngModel" ngModel
                                            [(ngModel)]="companyDetails.CIN ">
                                        <span class="floating-label ">CIN</span>
                                    </div>
                                </div>
                                <div class="form-row mt-3 ">
                                    <div class="form-group col-md-12">
                                        <label for="notes">Notes</label>
                                        <textarea id="notes" rows="4" #notes="ngModel" ngModel name="notes" [(ngModel)]="companyDetails.notes" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="float-right ty-create-button ">
                                    <button type="submit" id="closemodal" class=" btn btn-outline-primary ty-font"
                                        data-dismiss="modal" (click)="updateClients(form)">Update</button>
                                </div>
                                <div class="float-right ty-reset-button">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModal">Delete</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <small>Are you sure you want to delete this Companydetails?</small>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit"
                                                        class="btn btn-outline-danger ty-font delete rounded border  border-info"
                                                        data-dismiss="modal"
                                                        (click)="deleteCompany(form)">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" mt-4 mb-4 " id="ty-pagination">
        <jw-pagination [items]="ClientsDetails " (changePage)="onChangePage($event) "></jw-pagination>
    </div>
    <div id="notification" style="display: none;" class="col-md-2  offset-4">
        <span class="dismiss"><a title="dismiss this notification">x</a></span>
    </div>
</body>