<body>

    <nav class="navbar navbar-expand-md new-bg navbar-dark">
        <a class="navbar-brand" routerLink="/">
            <span class="ty-logo">ty</span><span class="space">oice</span><sup style="color: orange;">2.0</sup>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link new-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link new-link" routerLink="/add-company">Add-Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link new-link" routerLink="/project-view">Project View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link new-link" routerLink="/employee-view">Employee View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link new-link" routerLink="/company-view">View Company</a>
                </li>
                <li class="nav-item" *ngIf='isManager() || isAdmin()'>
                    <a class="nav-link new-link" routerLink="/clientsDetails">Clients Details</a>
                </li>
                <li class="nav-item" *ngIf='isManager() || isAdmin()'>
                    <a class="nav-link new-link" routerLink="/clientsInfo">Clients Info</a>
                </li>
                <li class="nav-item" *ngIf='isManager() || isAdmin()'>
                    <a class="nav-link new-link" routerLink="/billableEmployeesDetails">Billable Employees Details</a>
                </li>
                <li class="nav-item" *ngIf='isManager() || isAdmin()'>
                    <a class="nav-link new-link" routerLink="/billableEmployeesInfo">Billable Employees Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link new-link" routerLink="/shared-email">Shared Email</a>
                </li>
                <li class="nav-item" *ngIf='isAdmin()'>
                    <a class="nav-link new-link" routerLink="/createEmployee">Create Employee</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link new-link" routerLink="/add-project">Add-project</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link new-link" routerLink="/employee-to-Project">Employee To Project</a>
                </li>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngIf='!isLoggedIn()'>
                        <a class="nav-link new-link" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item" *ngIf='!isLoggedIn()'>
                        <a class="nav-link new-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item" *ngIf='isLoggedIn()'>
                        <button class="btn btn-outline-primary" (click)='logout()'>
                            Logout
                        </button>
                    </li>
                    <li class="nav-item" *ngIf='!isLoggedIn()'>
                        <a class="nav-link new-link" routerLink="/create_project">Create Project</a>
                    </li>
                    <li class="nav-item" *ngIf='!isLoggedIn()'>
                        <a class="nav-link new-link" routerLink="/manage_emp">Manage Employee</a>
                    </li>
                    <li class="nav-item" *ngIf='!isLoggedIn()'>
                        <a class="nav-link new-link" routerLink="/create_attendance">Create Attendance</a>
                    </li>

                </ul>

                <div class="dropdown">
                    <!-- <li class=" nav-item dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a class="nav-link new-link" style="cursor: pointer;">Dropdown</a>
                    </li> -->

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="nav-area">
                            <span class="ty-categories">Categories</span>
                            <li><a href="JavaScript:void(0);"> Photo & Video <i class="fa fa-angle-right" aria-hidden="true"
                      id="photo"></i></a>
                                <div class="sub-nav " id="sub-nav">
                                    <div class="sub-menu ">
                                        <h3>Photo & Video</h3>
                                        <div class="row">
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                    <li><a href="">Posing</a></li>
                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Software</span>
                                                    <li><a href="">Adobe LightRoom</a></li>
                                                    <li><a href="">Adobe Photoshop</a></li>
                                                    <li><a href="">Adobe priemiere pro</a></li>
                                                    <li><a href="">Final Cut Pro X</a></li>
                                                    <li><a href="">Post Processing</a></li>

                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Genres</span>
                                                    <li><a href="">Adventure & Sports</a></li>
                                                    <li><a href="">Commercial</a></li>
                                                    <li><a href="">Documentary</a></li>
                                                    <li><a href="">Family & lifestyle</a></li>
                                                    <li><a href="">Fine Art</a></li>
                                                    <li><a href="">Food</a></li>
                                                    <li><a href="">Glamour & Beauty</a></li>
                                                    <li><a href="">Newborn</a></li>
                                                    <li><a href="">Outdoor</a></li>
                                                    <li><a href="">Portrait</a></li>
                                                    <li><a href="">Street photographs</a></li>
                                                    <li><a href="">Wedding</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Tecniques</span>
                                                    <li><a href="">Ariel & Drone</a></li>
                                                    <li><a href="">Film making</a></li>
                                                    <li><a href="">Iphoneography</a></li>
                                                    <li><a href="">Speed lights</a></li>
                                                    <li><a href="">Videography</a></li>

                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Cameras</span>
                                                    <li><a href="">Camera Guides</a></li>
                                                    <li><a href="">Canon Tutorial</a></li>
                                                    <li><a href="">Nikon Tutoral</a></li>
                                                    <li><a href="">Sony Tutorial</a></li>
                                                    <li><a href="">Post Processing</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <span class="ty-icon">Featured Money & Life Classes <i class="fa fa-angle-right"
                          aria-hidden="true"></i></span>
                                    </div>

                                </div>

                            </li>
                            <li><a href="JavaScript:void(0);"> Money & Life <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <div class="sub-nav">
                                    <div class="sub-menu">
                                        <h3>Money & Life</h3>
                                        <div class="row">
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Self improvement</span>
                                                    <li><a href="">Lifestyle</a></li>
                                                    <li><a href="">Money & finance</a></li>
                                                    <li><a href="">Self imrovement</a></li>
                                                    <li><a href="">Time management</a></li>
                                                    <li><a href="">wellness</a></li>

                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Self improvement</span>
                                                    <li><a href="">Communication skills</a></li>
                                                    <li><a href="">Leadership & management</a></li>
                                                    <li><a href="">Podcasting</a></li>
                                                    <li><a href="">Writing</a></li>


                                                </ul>
                                            </div>
                                            <div class="col">

                                                <ul>
                                                    <span class="ty-span">Entrepreneurship</span>
                                                    <li><a href="">Business Basics</a></li>
                                                    <li><a href="">Creative inspiration</a></li>
                                                    <li><a href="">Entrepreneurship</a></li>
                                                    <li><a href="">Freelancing</a></li>
                                                    <li><a href="">Marketing & Sales</a></li>
                                                    <li><a href="">Online Business</a></li>
                                                    <li><a href="">Social Media</a></li>
                                                    <li><a href="">Newborn</a></li>
                                                    <li><a href="">Outdoor</a></li>
                                                    <li><a href="">Portrait</a></li>
                                                    <li><a href="">Street photographs</a></li>
                                                    <li><a href="">Wedding</a></li>


                                                </ul>
                                            </div>

                                        </div>
                                        <span class="ty-span ty-icon">Featured Money & Life Classes <i class="fa fa-angle-right"
                          aria-hidden="true"></i></span>
                                    </div>

                                </div>

                            </li>
                            <li><a href="JavaScript:void(0);"> Art & design <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <div class="sub-nav">
                                    <div class="sub-menu">
                                        <h3>Art & design</h3>
                                        <div class="row">
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                    <li><a href="">Posing</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Adventure & Sports</a></li>
                                                    <li><a href="">Commercial</a></li>
                                                    <li><a href="">Documentary</a></li>
                                                    <li><a href="">Family & lifestyle</a></li>
                                                    <li><a href="">Fine Art</a></li>
                                                    <li><a href="">Food</a></li>
                                                    <li><a href="">Glamour & Beauty</a></li>
                                                    <li><a href="">Newborn</a></li>
                                                    <li><a href="">Outdoor</a></li>
                                                    <li><a href="">Portrait</a></li>
                                                    <li><a href="">Street photographs</a></li>
                                                    <li><a href="">Wedding</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                    <li><a href="">Posing</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="ty-span ty-icon">Featured Money & Life Classes <i class="fa fa-angle-right"
                          aria-hidden="true"></i></span>
                                    </div>

                                </div>

                            </li>
                            <li><a href="JavaScript:void(0);"> Craft & maker <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <div class="sub-nav">
                                    <div class="sub-menu">
                                        <h3>Craft & Maker</h3>
                                        <div class="row">
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>

                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>

                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>


                                                </ul>
                                            </div>
                                        </div>
                                        <span class="ty-span ty-icon1">Featured Money & Life Classes <i class="fa fa-angle-right"
                          aria-hidden="true"></i></span>
                                    </div>

                                </div>

                            </li>

                            <li><a href="JavaScript:void(0);"> Music & Audio <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <div class="sub-nav">
                                    <div class="sub-menu">
                                        <h3>Music & Audio</h3>
                                        <div class="row">
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>

                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>

                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>
                                                    <li><a href="">Lighting</a></li>
                                                </ul>
                                                <ul>
                                                    <span class="ty-span">Essentials</span>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Delhi</a></li>
                                                    <li><a href="">Business</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Free photo Courses</a></li>
                                                    <li><a href="">Fundamentals</a></li>


                                                </ul>
                                            </div>
                                        </div>
                                        <span class="ty-icon1">Featured Money & Life Classes <i class="fa fa-angle-right"
                          aria-hidden="true"></i></span>
                                    </div>

                                </div>

                            </li>

                        </ul>
                    </div>
                </div>


                <!-- Mobile View -->
                <div id="accordion" class="mt-4">
                    <div class="card">
                        <div class="card-header" id="heading-1">
                            <a class="large-link" target="_self" href="">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="margin-right-s" cl-icon templtae="on-air" id="on-air-now"> 
                <path d="M11.8020748,10.4642141 C11.0637546,10.4642141 10.4652185,11.0627503 10.4652185,11.8010705 C10.4652185,12.5394007 11.0637546,13.1379268 11.8020748,13.1379268 C12.540405,13.1379268 13.1389311,12.5394007 13.1389311,11.8010705 C13.1389311,11.0627503 12.540405,10.4642141 11.8020748,10.4642141 Z M12.5542448,14.5438856 L12.5542448,23.2467453 C12.5542448,23.6627428 12.2169976,24 11.8009901,24 C11.3849786,24 11.0477354,23.6627428 11.0477354,23.2467453 L11.0477354,14.5432911 C9.8435049,14.2127765 8.95870909,13.1102493 8.95870909,11.8010705 C8.95870909,10.2307253 10.2317296,8.95770475 11.8020748,8.95770475 C13.37242,8.95770475 14.6454405,10.2307253 14.6454405,11.8010705 C14.6454405,13.1110353 13.7595819,14.2141003 12.5542448,14.5438856 Z M11.8033403,6.18472316 C8.63630604,6.18472316 6.18673184,8.63429736 6.18673184,11.8013316 C6.18673184,14.1830325 7.30629134,15.991588 9.39320856,16.7741694 C9.78273162,16.9203008 9.98008435,17.3544768 9.8340132,17.7439597 C9.68794205,18.133543 9.25375601,18.3308957 8.86423294,18.1847643 C6.1737478,17.1759052 4.68022246,14.7942234 4.68022246,11.8013316 C4.68022246,7.80227232 7.804281,4.67821378 11.8033403,4.67821378 C15.8023794,4.67821378 18.9264782,7.80227232 18.9264782,11.8013316 C18.9264782,14.8089872 17.3934174,17.2342077 14.8252407,18.2391498 C14.4378368,18.3908051 14.0008888,18.1995789 13.8492938,17.8122051 C13.6976988,17.4248313 13.8888648,16.9878432 14.2762687,16.8362883 C16.2864343,16.0496896 17.4199688,14.1682286 17.4199688,11.8013316 C17.4199688,8.63429736 14.9703845,6.18472316 11.8033403,6.18472316 Z M11.8009901,1.50650938 C6.14572465,1.50650938 1.50650938,6.14572465 1.50650938,11.8009901 C1.50650938,16.1610291 3.98838561,19.850591 7.78701887,21.3329962 C8.17457343,21.4842497 8.36613112,21.921037 8.21489766,22.3086117 C8.06366421,22.6960859 7.62688696,22.8877139 7.23934245,22.7364603 C2.87659173,21.0339039 0,16.7966756 0,11.8009901 C0,5.31369961 5.31369961,0 11.8009901,0 C18.2883208,0 23.6019802,5.31369961 23.6019802,11.8009901 C23.6019802,16.7966756 20.7602634,20.9394655 16.3975127,22.6420219 C16.0099381,22.7932755 15.5732512,22.6016475 15.4219977,22.2141733 C15.2707441,21.8265986 15.4622717,21.3898113 15.8498463,21.2385578 C19.6484595,19.7561526 22.0954708,16.1610291 22.0954708,11.8009901 C22.0954708,6.14572465 17.4562254,1.50650938 11.8009901,1.50650938 Z" id="On-Air-icon"></path>
        
        
              </svg>
                                <span class="on-air-span">on Air now</span>
                            </a>

                            <div class="mt-3">
                                <a href="" class="large-link" target="_self">
                                    <svg width="21px" height="19px" viewBox=" 0 0 21 19" version="1.1" class="margin-right-s" cl-icon template="classes">
                  <g transform="translate( -31.000000, -204.000000)">
                    <path d="M31.75,204 C31.335693,204 31,204.335815 31,204.75 L31,211.75 C31,212.16418 31.335693,212.5 31.75,212.5 L39.75,212.5 C40.16431,212.5 40.5,212.16418 40.5,211.75 L40.5,204.75 C40.5,204.335815 40.16431,204 39.75,204 L31.75,204 Z M32.5,211 L32.5,205.5 L39,205.5 L39,211 L32.5,211 Z M42.75,204 C42.3357,204 42,204.335815 42,204.75 L42,211.75 C42,212.16418 42.3357,212.5 42.75,212.5 L50.75,212.5 C51.1643,212.5 51.5,212.16418 51.5,211.75 L51.5,204.75 C51.5,204.335815 51.1643,204 50.75,204 L42.75,204 Z M43.5,211 L43.5,205.5 L50,205.5 L50,211 L43.5,211 Z M31,214.75 C31,214.3358 31.335693,214 31.75,214 L39.75,214 C40.16431,214 40.5,214.3358 40.5,214.75 L40.5,221.75 C40.5,222.1642 40.16431,222.5 39.75,222.5 L31.75,222.5 C31.335693,222.5 31,222.1642 31,221.75 L31,214.75 Z M32.5,215.5 L32.5,221 L39,221 L39,215.5 L32.5,215.5 Z M42.75,214 C42.3357,214 42,214.3358 42,214.75 L42,221.75 C42,222.1642 42.3357,222.5 42.75,222.5 L50.75,222.5 C51.1643,222.5 51.5,222.1642 51.5,221.75 L51.5,214.75 C51.5,214.3358 51.1643,214 50.75,214 L42.75,214 Z M43.5,221 L43.5,215.5 L50,215.5 L50,221 L43.5,221 Z" path >
                                 </path>
                  </g>
                </svg>
                                    <span class="all-classes">All Classes</span>
                                </a>
                            </div>
                            <span class="categories">categories</span>
                            <h5 class="mb-0">
                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1" id="photo">
                 PHOTO & AUDIO
                </a>
                            </h5>
                        </div>
                        <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                            <li><a href="">Posing</a></li>
                                        </ul>
                                        <ul>
                                            <span class="span">Software</span>
                                            <li><a href="">Adobe LightRoom</a></li>
                                            <li><a href="">Adobe Photoshop</a></li>
                                            <li><a href="">Adobe priemiere pro</a></li>
                                            <li><a href="">Final Cut Pro X</a></li>
                                            <li><a href="">Post Processing</a></li>

                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <span class="span">Genres</span>
                                            <li><a href="">Adventure & Sports</a></li>
                                            <li><a href="">Commercial</a></li>
                                            <li><a href="">Documentary</a></li>
                                            <li><a href="">Family & lifestyle</a></li>
                                            <li><a href="">Fine Art</a></li>
                                            <li><a href="">Food</a></li>
                                            <li><a href="">Glamour & Beauty</a></li>
                                            <li><a href="">Newborn</a></li>
                                            <li><a href="">Outdoor</a></li>
                                            <li><a href="">Portrait</a></li>
                                            <li><a href="">Street photographs</a></li>
                                            <li><a href="">Wedding</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <span class="span">Tecniques</span>
                                            <li><a href="">Ariel & Drone</a></li>
                                            <li><a href="">Film making</a></li>
                                            <li><a href="">Iphoneography</a></li>
                                            <li><a href="">Speed lights</a></li>
                                            <li><a href="">Videography</a></li>

                                        </ul>
                                        <ul>
                                            <span class="span">Cameras</span>
                                            <li><a href="">Camera Guides</a></li>
                                            <li><a href="">Canon Tutorial</a></li>
                                            <li><a href="">Nikon Tutoral</a></li>
                                            <li><a href="">Sony Tutorial</a></li>
                                            <li><a href="">Post Processing</a></li>

                                        </ul>


                                    </div>




                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-2">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                 MONEY & LIFE
                </a>
                            </h5>
                        </div>
                        <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <span class="span">Self improvement</span>
                                            <li><a href="">Lifestyle</a></li>
                                            <li><a href="">Money & finance</a></li>
                                            <li><a href="">Self imrovement</a></li>
                                            <li><a href="">Time management</a></li>
                                            <li><a href="">wellness</a></li>

                                        </ul>
                                        <ul>
                                            <span class="span">Self improvement</span>
                                            <li><a href="">Communication skills</a></li>
                                            <li><a href="">Leadership & management</a></li>
                                            <li><a href="">Podcasting</a></li>
                                            <li><a href="">Writing</a></li>


                                        </ul>
                                    </div>
                                    <div class="col">

                                        <ul>
                                            <span class="span">Entrepreneurship</span>
                                            <li><a href="">Business Basics</a></li>
                                            <li><a href="">Creative inspiration</a></li>
                                            <li><a href="">Entrepreneurship</a></li>
                                            <li><a href="">Freelancing</a></li>
                                            <li><a href="">Marketing & Sales</a></li>
                                            <li><a href="">Online Business</a></li>
                                            <li><a href="">Social Media</a></li>
                                            <li><a href="">Newborn</a></li>
                                            <li><a href="">Outdoor</a></li>
                                            <li><a href="">Portrait</a></li>
                                            <li><a href="">Street photographs</a></li>
                                            <li><a href="">Wedding</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-3">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                  ART & DESIGN
                </a>
                            </h5>
                        </div>
                        <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                            <li><a href="">Posing</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Adventure & Sports</a></li>
                                            <li><a href="">Commercial</a></li>
                                            <li><a href="">Documentary</a></li>
                                            <li><a href="">Family & lifestyle</a></li>
                                            <li><a href="">Fine Art</a></li>
                                            <li><a href="">Food</a></li>
                                            <li><a href="">Glamour & Beauty</a></li>
                                            <li><a href="">Newborn</a></li>
                                            <li><a href="">Outdoor</a></li>
                                            <li><a href="">Portrait</a></li>
                                            <li><a href="">Street photographs</a></li>
                                            <li><a href="">Wedding</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                            <li><a href="">Posing</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-3">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                  CRAFT & MAKER
                </a>
                            </h5>
                        </div>
                        <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                        </ul>
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>

                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                        </ul>
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>

                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                        </ul>
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-3">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                  MUSIC & AUDIO
                </a>
                            </h5>
                        </div>
                        <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-5">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                        </ul>
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>

                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                        </ul>
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>

                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>
                                            <li><a href="">Lighting</a></li>
                                        </ul>
                                        <ul>
                                            <span class="span">Essentials</span>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Delhi</a></li>
                                            <li><a href="">Business</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Free photo Courses</a></li>
                                            <li><a href="">Fundamentals</a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </ul>

        </div>
    </nav>
    <div class="alert text-primary text-center" *ngIf='auth.message'>
        {{auth.message}}
    </div>
    <div class="alert text-danger text-center" *ngIf='auth.error'>
        {{auth.error}}
    </div>
</body>