<table class="table table-bordered">
    <thead class="text-white ty-header">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Employee Number</th>
            <th>Technology</th>
            <th>Department</th>
            <th>Year of Experience</th>
            <th>Location</th>
            <th>Payment Type</th>
      </tr>
    </thead>
    <tr *ngFor="let mydata of EmployeeDetails">
        <td>{{mydata.empId}}</td>
        <td>{{mydata.empName}}</td>
        <td>{{mydata.empEmail}}</td>
        <td>{{mydata.empPhNumber}}</td>   
        <td>{{mydata.technology}}</td>
        <td>{{mydata.dept}}</td>
        <td>{{mydata.yoe}}</td>
        <td>{{mydata.location}}</td>
        <td>{{mydata.paymentType}}</td>
     </tr>
</table>