<body>
    <div class="container col-md-10 offset-1">
        <div class="mt-4">
            <h3 class="ty-heading">Project Details</h3>
            <table class="table table-bordered">
                <thead class="text-white ty-header">
                    <tr>
                        <td>Sl.No</td>
                        <td>Project Names</td>
                        <td>Project Start Date</td>
                        <td>List of Employees</td>
                        <td>Add Employee</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proj  of ProjectDetails;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{proj.projectName}}</td>
                        <td>{{proj.invoice?.invoiceDate}}</td>
                        <td>Yet to add this from other server</td>
                        <td><button (click)="addEmployee()">Add Employee</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>