.ty-font1 {
    position: relative;
    top: 45px;
    left: 490px;
}

.ty-font.heading {
    position: relative;
    top: 60px;
    font-size: 28px;
    font-weight: bolder;
    left: 485px;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}
input.ng-touched.ng-valid {
    border: 1px solid green;
}