<label for="title" class="ty-font heading">Company Details</label><br>
<div class="card card-body  col-md-6 offset-3 mt-5">
    <div class=" card-body  col-md-12">
        <form [formGroup]="form" (ngSubmit)="postClientDetails()">
            <div class="form-row mt-3">
                <div class="form-group col-md-9 ty-font user-input-wrp"> <br />
                    <input type="text" class="form-control inputText" id="gstin" name="gstin" formControlName='gstin'
                        required (blur)='verifyGST(gstin)'>
                    <span class="floating-label">GSTIN</span>
                    <p>Status : {{datass?.taxpayerInfo.sts}} </p>
                    <!-- <div *ngIf="gstin.invalid && (gstin.dirty || gstin.touched)" class="ty-errmsg ">
                        <div *ngIf="gstin.errors.required"> GSTIN is required * </div>
                    </div> -->
                </div>
            </div>
            <div class="form-row mt-1">
                <div class="form-group col-md-9 ty-font user-input-wrp"> <br />
                    <input type="text" class="form-control inputText" id="cfullname" name="cfullname"
                        formControlName='cfullname' required value="{{datass?.taxpayerInfo.lgnm}}">
                    <span class="floating-label">Company Full Name</span>
                    <!-- <div *ngIf="cfullname.invalid && (cfullname.dirty || cfullname.touched)" class="ty-errmsg ">
                        <div *ngIf="cfullname.errors.required"> Company Full Name is required * </div>
                    </div> -->
                </div>
                <div class="form-group col-md-3 ty-font user-input-wrp"> <br />
                    <input type="text" class="form-control inputText" id="cshortname" name="cshortname"
                        formControlName='cshortname'>
                    <span class="floating-label">Company Short Name</span>
                </div>
            </div>
            <div class="form-row mt-3 row-border">
                <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                    <input type="text" class="form-control inputText" id="panNo" name="panNo" formControlName='panNo'
                        required value="{{datass?.taxpayerInfo.panNo}}">
                    <span class="floating-label">Pan Number</span>
                </div>
                <div class="form-group col-md-6 ty-font left user-input-wrp"><br />
                    <input type="text" class="form-control inputText" id="cin" name="cin" formControlName='cin'>
                    <span class="floating-label">CIN</span>
                    <!-- <div *ngIf="CIN.invalid && (CIN.dirty || CIN.touched)" class="ty-errmsg ">
                        <div *ngIf="CIN.errors.required"> CIN is required * </div>
                    </div> -->
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="form-group col-md-12">
                    <label for="notes">Notes</label>
                    <textarea id="notes" rows="3" formControlName='notes' name="notes" class="form-control"></textarea>
                </div>
            </div>
            <div formArrayName="clientDetails">
                <div *ngFor="let clientDetails of form.controls.clientDetails.controls; let i=index">
                    <!-- address header, show remove button when more than one address available -->
                    <!-- <div>-->
                    <span>clientDetails{{i + 1}}</span>
                    <!--<span *ngIf="form.controls.clientDetails.controls.length > 0" (click)="deletespoc(i)">
                        </span>
                    </div> -->
                    <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                    <div [formGroupName]="i" class="form-row mt-3 border">
                        <div class="form-group col-md-5 ty-font user-input-wrp"> <br />
                            <input type="text" formControlName="clientName" class="form-control inputText"
                                id="clientName" name="clientName">
                            <span class="floating-label">Name</span>
                        </div>
                        <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                            <input type="number" formControlName="phoneNumber" class="form-control inputText"
                                id="phoneNumber" name="phoneNumber">
                            <span class="floating-label">Number</span>
                        </div>
                        <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                            <input type="email" formControlName="email" class="form-control inputText" id="email"
                                name="email">
                            <span class="floating-label">Email</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-right ty-create-button">
                <button type="submit" class="btn btn-outline-primary ty-font">Submit</button>
            </div>
            <div class="float-right ty-create-button ">
                <button type="button" class="btn btn-outline-primary ty-font" (click)="addSPOC()">Add SPOC for
                    Project</button>
            </div>
        </form>
        <div>
            <p> Primary Address :<br>
                type - {{datass?.taxpayerInfo.pradr.ntr}}<br>
                Building Name and No- {{datass?.taxpayerInfo.pradr.addr.bnm}}
                {{datass?.taxpayerInfo.pradr.addr.bno}}<br>
                Flat No - {{datass?.taxpayerInfo.pradr.addr.flno}}<br>
                Street - {{datass?.taxpayerInfo.pradr.addr.st}}<br>
                Location - {{datass?.taxpayerInfo.pradr.addr.loc}}<br>
                District - {{datass?.taxpayerInfo.pradr.addr.dst}} PinCode -
                {{datass?.taxpayerInfo.pradr.addr.pncd}}<br>
                State - {{datass?.taxpayerInfo.pradr.addr.stcd}}<br></p>
        </div>
    </div>
</div>