<label for="title" class="ty-font heading">Company's SPOC Details</label><br>

<div class="card card-body  col-md-6 offset-3 mt-5">
    <div class=" card-body  col-md-12">
        <form [formGroup]="ngForm" (ngSubmit)="postClientDetails()">
            <fieldset class="border p-2 col-12 mb-4">
                <legend class="w-auto">Finance SPOC Name And Contact Details</legend>
                <div class="form-row mt-1">
                    <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                        <input type="text" class="form-control inputText" id="spocName" name="spocName"
                            #spocName="ngModel" ngModel required>
                        <span class="floating-label">Name</span>
                        <div *ngIf="spocName.invalid && (spocName.dirty || spocName.touched)" class="ty-errmsg ">
                            <div *ngIf="spocName.errors.required"> Name required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                        <input type="email" class="form-control inputText" id="spocEmail" name="spocEmail"
                            #spocEmail="ngModel" ngModel required>
                        <span class="floating-label">Email</span>
                        <div *ngIf="spocEmail.invalid && (spocEmail.dirty || spocEmail.touched)" class="ty-errmsg ">
                            <div *ngIf="spocEmail.errors.required"> email required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                        <input type="text" class="form-control inputText" id="spocNumber" name="spocNumber"
                            #spocNumber="ngModel" ngModel required>
                        <span class="floating-label">Phone number</span>
                        <div *ngIf="spocNumber.invalid && (spocNumber.dirty || spocNumber.touched)" class="ty-errmsg ">
                            <div *ngIf="spocNumber.errors.required"> Phone number required * </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="border p-1 col-12 mb-1">
                <legend class="w-auto">Invoice Address</legend>
                <div class="row">
                    <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                        <input type="text" class="form-control  inputText" id="invoiceArea" name="invoiceArea"
                            #invoiceArea="ngModel" ngModel required>
                        <span class="floating-label">Street : </span>
                        <div *ngIf="invoiceArea.invalid && (invoiceArea.dirty || invoiceArea.touched)"
                            class="ty-errmsg ">
                            <div *ngIf="invoiceArea.errors.required"> Street required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                        <input type="text" class="form-control  inputText" id="invoiceTown" name="invoiceTown"
                            #invoiceTown="ngModel" ngModel required>
                        <span class="floating-label">Town/City: </span>
                        <div *ngIf="invoiceTown.invalid && (invoiceTown.dirty || invoiceTown.touched)"
                            class="ty-errmsg ">
                            <div *ngIf="invoiceTown.errors.required"> City required * </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 ty-font user-input-wrp"> <br />
                        <input type="text" class="form-control  inputText" id="invoiceState" name="invoiceState"
                            #invoiceState="ngModel" ngModel required>
                        <span class="floating-label">State: </span>
                        <div *ngIf="invoiceState.invalid && (invoiceState.dirty || invoiceState.touched)"
                            class="ty-errmsg ">
                            <div *ngIf="invoiceState.errors.required"> State required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 ty-font user-input-wrp"> <br />
                        <input type="number" class="form-control inputText" id="invoiceZip" name="invoiceZip"
                            #invoiceZip="ngModel" ngModel required>
                        <span class="floating-label">Pin Code: </span>
                        <div *ngIf="invoiceZip.invalid && (invoiceZip.dirty || invoiceZip.touched)" class="ty-errmsg ">
                            <div *ngIf="invoiceZip.errors.required"> Pin Code required * </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <div class="float-right ty-create-button">
                <button type="submit" class="btn btn-outline-primary ty-font" [disabled]='form.invalid'>Submit</button>
            </div>
        </form>
    </div>

</div>