<label for="title" class="ty-font heading">Shared Email</label>
<div class="card col-lg-6 col-md-4 offset-3 mt-5" style="height: 400px;">
    <div class="card-body col-lg-12 col-md-12">
        <form action="" method="post" #form="ngForm" (ngSubmit)="registerClient(form.value)">
            <div class="form-row mt-2">
                <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                    <input type="text" class="form-control inputText" id="bd" name="bd" #bd="ngModel" ngModel required>
                    <span class="floating-label">Business Developer Name</span>
                    <div *ngIf="bd.invalid && (bd.dirty || bd.touched)" class="ty-errmsg ">
                        <div *ngIf="bd.errors.required"> BD's name required * </div>
                    </div>
                </div>
                <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                    <input type="text" class="form-control inputText" id="customer" name="customer" #customer="ngModel"
                        ngModel required>
                    <span class="floating-label">Client Name</span>
                    <div *ngIf="customer.invalid && (customer.dirty || customer.touched)" class="ty-errmsg ">
                        <div *ngIf="customer.errors.required">Customer's name required * </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="skillset">Skill set</label>
                    <textarea id="skillset" rows="4" #skillset="ngModel" ngModel name="skillset"
                        class="form-control"></textarea>
                </div>
                <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                    <input type="date" class="form-control  inputText" id="sdate" name="sdate" #sdate="ngModel" ngModel
                        required>
                    <span class="floating-label">Shared Date</span>
                </div>
                <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                    <input type="email" class="form-control inputText" id="emailid" name="emailid" #emailid="ngModel"
                        ngModel required>
                    <span class="floating-label">Email</span>
                    <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched)" class="ty-errmsg ">
                        <div *ngIf="emailid.errors.required"> email required * </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>