<label for="title" class="ty-font heading">Employee To Project</label><br>
<div class="card col-lg-5 col-md-4 offset-4 mt-5 boder" style="height: 780px;">
    <div class=" card-body  col-md-12">
        <form [formGroup]='group2Form' (ngSubmit)="submitForm()">

            <div class="form-row mt-3">
                <div class="form-group col-md-6 ty-font  "> <br />
                    <span class="floating-label">Empolyee ID</span>
                    <input class="form-control" formControlName='empId' (blur)="idPass(empId)">
                    
                </div>
            </div>
            <div>
                Employee Name:{{this.mydata?.data.empName}}
            </div>
            <div>
                Employee Email:{{this.mydata?.data.empEmail}}
            </div>
            <div>
                Employee PhoneNumber:{{this.mydata?.data.empPhNumber}}
            </div>
            <div class="row mt-2">
                <div class="form-group col-md-6 ty-font "> <br/>
                    <span class="floating-label">Project ID</span>
                    <input type="text" class="form-control inputText" formControlName='projId'>
                   
                </div>
              
                <div class="form-group col-md-6 ty-font "> <br />
                    <span class="floating-label">Project Email Id Of Employee</span>
                    <input type="text" class="form-control inputText" formControlName='clientEmail'>
                    
                </div>
            </div>

            <div class="row">
                <div class="mt-2 col-md-6">
                    <label for="billableType">
                        Billable Type
                    </label>
                    <select class="browser-default custom-select" formControlName='billableType' name="billableType"
                        class="form-control">
                        <option selected> select a value</option>
                        <option value="Billable">Billable</option>
                        <option value="Non-billable">Non-billable</option>
                    </select>
                </div>
                <div class="form-group mt-2  col-md-6">
                    <label for="startDate">
                        Billing Start Date
                    </label>
                    <input type="date" class="form-control" id="startDate" formControlName='startDate'
                        class="form-control" name="startDate">
                </div>
            </div>
            <div class="form-group">
                <label for="poDoc">Po-Doc</label>
                <input type="file" class="form-control-file" id="poDoc" formControlName='poDoc'>
            </div>

            <div class="form-group">
                <label for="sowDoc">Sow-Doc</label>
                <input type="file" class="form-control-file" id="sowDoc" formControlName='sowDoc'>
            </div>

            <div class="form-group">
                <label for="woDoc">Wo-Doc</label>
                <input type="file" class="form-control-file" id="woDoc" formControlName='woDoc'>
            </div>
            <div class="float-right ty-create-button float-right">
                <button type="submit" class="btn btn-outline-primary ty-font">Submit</button>
            </div>
           
        </form>
    </div>
</div>


<!--  -->