    .more {
        border: none;
        /* width: 32px;
    height: 32px; */
        background-color: lightblue;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
    }
    
    .more:hover {
        border: 1px solid #888;
    }
    /* #label {
        letter-spacing: 1px;
        margin-bottom: 30px;
    } */
    
    input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        /* background-color: #eee; */
    }
    /* .container {
        overflow: scroll;
    } */
    
    select {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
    }
    
    .form-control.is-valid {
        background-image: none;
    }